body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: black;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1 {
  font-weight: bold;
  margin-bottom: 20px;
}

.question-container {
  margin-bottom: 20px;
  text-align: left;
  width: 80%;
  max-width: 600px;
  background-color: #111;
  padding: 20px;
  border-radius: 15px;
}

.question-container label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.answer-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.answer-button {
  background-color: transparent;
  color: white;
  border: 1px solid black;
  padding: 10px 20px;
  border-radius: 15px;
  margin-bottom: 10px;
  cursor: pointer;
}

.answer-button.selected {
  background-color: #4CAF50;
  border-color: #4CAF50;
}

.question-container textarea,
.question-container input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #f2f2f2;
  color: black;
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  max-width: 600px;
}

.button-container button {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  background-color: white;
  color: black;
  cursor: pointer;
  border: 1px solid black;
}

.button-container button:disabled {
  background-color: #999;
  cursor: not-allowed;
}
